<div class="works d-flex justify-content-around text-white text-center mt-4 mb-1">

  <div class="card">
    <img src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg">
    <div class="info">
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est, debitis incidunt reiciendis quod repellendus?</p>
      <a href="#" class="btn">Daha Fazla</a>
    </div>
  </div>

  <div class="card">
    <img src="https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg">
    <div class="info">
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est, debitis incidunt reiciendis quod repellendus?</p>
      <a href="#" class="btn">Daha Fazla</a>
    </div>
  </div>

  <div class="card">
    <img src="https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg">
    <div class="info">
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est, debitis incidunt reiciendis quod repellendus?</p>
      <a href="#" class="btn">Daha Fazla</a>
    </div>
  </div>

</div>





<!-- <div class="works d-flex justify-content-around text-white text-center mt-3">

  <div class="work">
    <div class="content shadow">
      <div class="front">
        <img src="https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded-3" alt="">
      </div>
      <div class="back p-3 bg-dark rounded-3">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae minima optio itaque, dolore odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae minima optio itaque, dolore odit?</p>
      </div>
    </div>
  </div>

  <div class="work">
    <div class="content shadow">
      <div class="front">
        <img src="https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded-3" alt="">
      </div>
      <div class="back p-3 bg-dark rounded-3">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae minima optio itaque, dolore odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae minima optio itaque, dolore odit?</p>
      </div>
    </div>
  </div>

  <div class="work">
    <div class="content shadow">
      <div class="front">
        <img src="https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded-3" alt="">
      </div>
      <div class="back p-3 bg-dark rounded-3">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae minima optio itaque, dolore odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae minima optio itaque, dolore odit?</p>
      </div>
    </div>
  </div>

</div> -->
